.header {
  background-color: #000;
  color: #fff;
  height: 200px;
  width: 100%;
  padding: 20px;
  padding-left: 150px;
}

.header p {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 50px;
}
