/* .container {
  padding: 2rem;
  overflow: auto;

  align-items: center;
} */

.main {
  height: 100vh;
  width: 92vw;
  flex: 1;
  display: flex;
  display: flex;
  justify-content: center;
}
.mainContainer {
  display: flex;
  justify-content: center;
  height: fit-content;
}

.centerContent {
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
.loginContainer {
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 600px;
  height: 400px;
  text-align: center;
}
.loginContainer h1 {
  font-size: 45px;
}

.logoutBtn {
  margin-top: 5px;
  display: flex;
  height: 40px;
  padding: 0;
  background: #9c0d0d;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.logoutBtn:hover {
  background: #d61414;
}
.sideBar {
  height: fit-content;
  margin-left: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-bottom: 10px;
}
.checkoutBtn {
  width: 350px;
  align-self: center;
  height: 50px;
  background-color: rgb(63, 139, 32);
  color: white;
  outline: none;
  border: none;
  font-size: large;
}

.sideBar h2 {
  color: #1996f7;
  padding: 0 22px;
  margin: 0;
  margin-top: 12px;
}
.categoryList {
  max-height: 300px;
  color: #f39c12;
  overflow-y: scroll; /* Hide scrollbars */
}
.categoryList::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.categoryList::-webkit-scrollbar-thumb {
  background: #ff0000;
}
.sideBar p {
  cursor: pointer;
  padding: 5px 12px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  margin: 0;
}
.sideBar p:hover {
  color: #ffffff;
  background-color: #4fb0fa;
  box-shadow: 0 1px 18px -8px black;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 7px;
  color: #fff;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}
.addCategorybutton {
  margin-top: 5px;
  display: flex;
  height: 50px;
  padding: 0;
  background: #009578;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.addCategorybutton:hover {
  background: #008168;
}

.addCategorybutton:active {
  background: #006e58;
}
/* .card:not(:hover),
.card-statusDesc {
  opacity: 1;
  transition: opacity 500ms linear;
} */

/* @media (prefers-reduced-motion: reduce) {
  *,
  *::after,
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important ;
  }
} */
/* .description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
} */

/* .grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
} */

/* .card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
